<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
  <body>
    <main th:object="${item}">
      <div class="row mt-4">
        <div class="card border-primary mb-3">
          <div class="card-body text-center">
            <img th:src="@{|/img/*{image}|}" class="img-fluid" style="width: 300px" />
          </div>
        </div>
        <div class="card border-primary mb-3">
          <div class="card-header">
            <strong>GIỚI THIỆU SẢN PHẨM</strong>
          </div>
          <div class="card-body">
            <ul>
              <li>
                <b>Tên sản phẩm: <span class="fw-normal" th:text="*{name}"></span></b>
              </li>
              <li>
                <b>Giá sản phẩm: <span class="fw-normal" th:text="*{price}"></span></b>
              </li>
              <li>
                <b>Ngày sản xuất: <span class="fw-normal" th:text="*{createDate}"></span></b>
              </li>
              <li>
                <b>Loại hàng: <span class="fw-normal" th:text="*{category.name}"></span></b>
              </li>
            </ul>
          </div>
          <div class="card-footer text-end">
            <button class="btn btn-outline-success">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="card border-primary">
          <div class="card-header"><strong>HÀNG CÙNG LOẠI</strong></div>
          <div class="card-body">
            <ul>
              <li th:each="p : *{category.products}">
                <a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
