<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
  <body>
    <main>
      <div th:replace="~{/cart/view :: shopping-cart}"></div>
      <div class="card border-dark mt-4">
        <div class="card-header fw-bolder text-center">ORDER PURCHASING</div>
        <div class="card-body">
          <form class="row">
            <div class="col-sm-6">
              <label class="form-label">Purchaser:</label>
              <div id="username" th:text="${#authentication.name}" class="form-control"></div>
            </div>
            <div class="col-sm-6">
              <label class="form-label">Order Date</label>
              <div class="form-control">{{order.createDate | date: 'dd-MM-yyyy'}}</div>
            </div>
            <div class="col-sm-12">
              <label for="exampleFormControlTextarea1" class="form-label">Shipping Address</label>
              <textarea ng-model="order.address" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="card-footer text-end">
          <button ng-click="order.purchase()" class="btn btn-outline-success">Purchase</button>
        </div>
      </div>
    </main>
  </body>
</html>
